/* ----------------------
    VARIABLES
---------------------- */

:root {
    /* fonts */
    --font-primary: "Familjen Grotesk", sans-serif;
    --font-secondary: "Bebas Neue", sans-serif;

    /* colors */
    --black: #333333;
    --white-body: #f5f5f5;

    --nb-yellow: #f5ff86;
    --nb-orange: #ffe297;
    --nb-pink: #fec1e2;
    --nb-lila: #d7c3ff;
    --nb-blue: #b0d5f7;
    --nb-green: #8ee4df;

    /* border */

    --border-main: 4px solid var(--black);
    --border-btn: 3px solid var(--black);

    /* shadow */

    --shadow-square: 4px 4px 0 var(--black);

    /* blocks */

    --sm-block: 85px;

    /* general padding */

    --gral-padding: 0 50px;
}

/* ----------------------
    GENERAL STYLES
---------------------- */

body {
    font-family: var(--font-primary);
    background-color: var(--white-body);
}

/* SCROLLBAR */

html::-webkit-scrollbar {
    width: 2rem;
}

html::-webkit-scrollbar-track {
    background: var(--nb-yellow);
}

html::-webkit-scrollbar-thumb {
    background: var(--nb-green);
    box-shadow: 3px 3px 0 var(--black), 3px -3px 0 var(--black);
}

/* WRAPPER container */

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    /* border: var(--border); */
    height: 1200px; /*delete*/
    background: #fff;
}

/* ----------------------
    HEADER
---------------------- */

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

/* NAV TOP START */

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--sm-block);
    background: var(--nb-green);
    padding: var(--gral-padding);
    border: var(--border-main);
}

/* nav menu right */

.nav-top__list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-top__list a {
    color: var(--black);
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: underline 2px;
    text-underline-offset: 4px;
    font-family: var(--font-primary);
}

.nav-top__list a:hover {
    opacity: 0.8;
    text-decoration: underline 3px var(--nb-yellow);
}

.nav-top__curvyArrow {
    position: absolute;
    top: -20px;
    left: -40px;
    transition: all 0.3s;
}

.nav-about:hover ~ .nav-top__curvyArrow {
    left: 80px;
}
/* NAV TOP END */

/* NAV BOTTOM START */

.nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;

    height: var(--sm-block);

    border-bottom: var(--border-main);
    border-left: var(--border-main);
    border-right: var(--border-main);
}

.nav-bottom__logo {
    width: 275px;
    height: 100%;

    display: flex;
    align-items: center;

    border-right: var(--border-main);
    background: var(--nb-yellow);

    position: relative;
}

.nav-bottom__logo h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.logo__underline {
    position: absolute;
    bottom: 12px;
    left: 120px;
}

/* social */

.nav-bottom__social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: var(--border-main);
}

.__social {
    height: 100%;
    width: 100%;
    color: var(--black);
    background: var(--nb-yellow);
    font-size: 1.9rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.__social a {
    width: 50px;
    height: 50px;
    margin: 0 20px;
    background: #fff;
    color: var(--black);
    border: var(--border-btn);
    box-shadow: var(--shadow-square);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}

.__social a:hover {
    box-shadow: none;
}

.__social--linkedin {
    border-left: var(--border-main);
    border-right: var(--border-main);
}
/* NAV BOTTOM END */

/* ----------------------
    HERO SECTION
---------------------- */

.hero {
    border-left: var(--border-main);
    border-right: var(--border-main);
    height: calc(100vh - (var(--sm-block) * 3));

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    background: #fff;
}

/* HERO TEXT */

.hero-text {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: grid;
    align-content: center;
    padding: var(--gral-padding);
    position: relative;
}

.hero-frontend,
.hero-student {
    position: relative;
}

/* frontend */

.hero-text h1 {
    font-family: var(--font-secondary);
    font-size: 7rem;
    color: var(--black);
    line-height: 0.8;
}

.h1-decoration,
.hero-main-draw,
.hero-stars {
    position: absolute;
}

.h1-decoration {
    top: -25px;
    left: 340px;
    cursor: crosshair;
}

.hero-main-draw {
    right: 50px;
    top: 20px;
    cursor: crosshair;
    animation: rotate 12s ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* student */

.hero-text p {
    font-size: 3rem;
    font-weight: 800;
    color: var(--black);
}

.hero-stars {
    bottom: -25px;
    left: 70px;
    cursor: crosshair;
}

/* hero buttons */

.hero-btn {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    border-top: var(--border-main);
    border-bottom: var(--border-main);
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 50px;
    position: relative;
}

.hero-btn a {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--nb-yellow);
    padding: 10px 20px;
    border: var(--border-btn);
    box-shadow: var(--shadow-square);
    rotate: -3deg;
    transition: all 0.3s ease-in;
}

.hero-arrow-1 {
    transition: all 0.3s ease-in;
    order: 1;
    cursor: crosshair;
}

.btn-projects {
    order: 2;
}

.hero-btn a:hover {
    box-shadow: none;
    background: var(--nb-orange);
}

.hero-btn .btn-curriculum:hover ~ .hero-arrow-1 {
    rotate: 90deg;
}

.hero-btn .btn-projects:hover ~ .hero-arrow-1 {
    rotate: -90deg;
}

.hero-circle {
    position: absolute;
    top: -40px;
    right: -38px;
    z-index: 10;
    cursor: crosshair;
}

/* hero image */

.hero-img {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    position: relative;
}

.hero-img .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-waves {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: crosshair;
}

/* ----------------------
    TOOLS SECTION
---------------------- */
.tools {
    height: 85px;
    border-left: var(--border-main);
    border-right: var(--border-main);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    overflow: scroll;
    scroll-snap-type: x mandatory;

    background: #fff;
    position: relative;
}

.tools img {
    width: 40px;
    height: 40px;
    scroll-snap-align: center;
}

/* ----------------------
    PROJECTS SECTION
---------------------- */

.projects {
    border: var(--border-main);
    background: #fff;
}

.projects-logo {
    width: 275px;
    height: 85px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-right: var(--border-main);
    background: var(--nb-blue);
}

/* ----------------------
    PROJECTS CARDS SECTION
---------------------- */

.projects-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-top: var(--border-main);
}

.card {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-family: var(--font-secondary);
}

.card-1 {
    border-bottom: var(--border-main);
    border-right: var(--border-main);
}

.card-3 {
    border-bottom: var(--border-main);
    border-left: var(--border-main);
}

.card-1 .card-spotify {
    background: var(--nb-pink);
    box-shadow: var(--shadow-square);
}

.card-2 .card-spotify {
    background: var(--nb-orange);
    box-shadow: var(--shadow-square);
}

.card-3 .card-spotify {
    background: var(--nb-lila);
    box-shadow: var(--shadow-square);
}

/* card inside */

.card-spotify {
    height: 630px;
    width: 355px;
    border: var(--border-btn);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 30px;
    padding: 40px;
}

/* spotify 1 */

.spotify-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spotify-1 h3 {
    font-size: 1.4rem;
    font-weight: 200;
}

.spotify-1 i {
    font-size: 1rem;
    border: var(--border-btn);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-square);
}

/* spotify 2 */

.card-img {
    width: 100%;
    height: 265px;
    border: var(--border-btn);
    box-shadow: 8px 8px 0 var(--black);
}

.card-img img {
    display: block;
    height: 100%;
}

/* spotify 3 */

.spotify-3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.spotify-3 h2 {
    line-height: 1;
}

.spotify-3 p {
    margin-bottom: 5px;
}


/* progress bar */

.progress-div {
    /* width: 100%; */
    height: 4px;
    background: #33333338;
    z-index: 1;
    position: relative;
    margin-bottom: 5px;
}

.progress-div span {
    display: block;
    height: 100%;
    background: var(--black);
    overflow: hidden;
}

.progress-div span::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 25%;
    width: 8px;
    height: 8px;
    background: var(--nb-orange);
    border: 1px solid var(--black);
    box-shadow: 1px 1px 0 var(--black);
}

.time {
    display: flex;
    justify-content: space-between;
}

/* spotify 4 */

.spotify-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}


/* ----------------------
    ABOUT SECTION
---------------------- */

/* ----------------------
    MEDIA QUERYS
---------------------- */

/* @media only screen and (max-width: 1024px) {
}


@media only screen and (max-width: 960px) {
}


@media only screen and (max-width: 768px) {
} */

@media only screen and (max-width: 650px) {
    /* nav */

    .nav-top {
        padding: 0 20px;
    }

    .nav-bottom__logo {
        width: 100%;
        border-right: 0;
    }

    .nav-bottom__social,
    .logo__underline {
        display: none;
    }

    /* hero */
    .hero-text {
        padding: 0 20px;
        grid-column: 1 / 4;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .h1-decoration {
        display: none;
    }

    .hero-main-draw {
        top: 0;
        right: 0;
        width: 100px;
    }

    .hero-text p {
        font-size: 1.5rem;
    }

    .hero-btn {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .hero-btn a {
        font-size: 1rem;
    }

    .hero-arrow-1 {
        display: none;
    }

    .hero-img {
        grid-row: 3 / 4;
    }

    .img-waves {
        width: 30px;
    }
}
