.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  background: hsl(177, 61%, 73%);
  padding: 0 50px;
  border: 4px solid #333333;
}
.nav-top .nav-top__list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-top .nav-top__list a {
  font-size: 1.7rem;
  font-weight: 600;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 4px;
}
.nav-top .nav-top__list a:hover {
  opacity: 0.8;
  -webkit-text-decoration: underline 3px hsl(65, 100%, 76%);
          text-decoration: underline 3px hsl(65, 100%, 76%);
}
.nav-top .nav-top__list .nav-top__curvyArrow {
  position: absolute;
  top: -20px;
  left: -40px;
  transition: all 0.5s;
}
.nav-top .nav-top__list .nav-about:hover ~ .nav-top__curvyArrow {
  left: 80px;
}
.nav-top .nav-top__x {
  transition: all 0.3s;
  cursor: crosshair;
}
.nav-top .nav-top__x:hover {
  scale: 1.5;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  height: 85px;
  border-bottom: 4px solid #333333;
  border-left: 4px solid #333333;
  border-right: 4px solid #333333;
}
.nav-bottom .nav-bottom__logo {
  width: 275px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 4px solid #333333;
  background: hsl(65, 100%, 76%);
  position: relative;
}
.nav-bottom .nav-bottom__logo h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.nav-bottom .nav-bottom__logo .logo__underline {
  position: absolute;
  bottom: 10px;
  left: 120px;
}
.nav-bottom .nav-bottom__social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-left: 4px solid #333333;
}
.nav-bottom .nav-bottom__social .__social {
  height: 100%;
  width: 100%;
  color: #333333;
  background: hsl(65, 100%, 76%);
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bottom .nav-bottom__social .__social a {
  width: 50px;
  height: 50px;
  margin: 0 20px;
  background: #fff;
  color: #333333;
  border: 3px solid #333333;
  box-shadow: 4px 4px 0 #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;
}
.nav-bottom .nav-bottom__social .__social a:hover {
  box-shadow: none;
}
.nav-bottom .nav-bottom__social .__social--linkedin {
  border-left: 4px solid #333333;
  border-right: 4px solid #333333;
}

@keyframes discover {
  0% {
    transform: translate(-1000px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hero-text {
  grid-column: 1/3;
  grid-row: 1/3;
  display: grid;
  align-content: center;
  padding: 0 50px;
  position: relative;
}
.hero-text .hero-frontend,
.hero-text .hero-student {
  position: relative;
}
.hero-text h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 7rem;
  color: #333333;
  line-height: 0.9;
}
.hero-text .h1-decoration,
.hero-text .hero-main-draw,
.hero-text .hero-stars {
  position: absolute;
}
.hero-text .h1-decoration {
  top: -25px;
  left: 340px;
  cursor: crosshair;
  animation: discover 2s ease-in-out;
}
.hero-text .hero-main-draw {
  right: 50px;
  top: 20px;
  cursor: crosshair;
  animation: discover 2s ease-in-out;
  transition: all 0.3s ease-in;
}
.hero-text .hero-main-draw:hover {
  transform: scale(1.3);
}
.hero-text p {
  font-size: 3rem;
  font-weight: 800;
  color: #333333;
}
.hero-text .hero-stars {
  bottom: -25px;
  left: 70px;
  cursor: crosshair;
  animation: discover 2s ease-in-out;
}

@keyframes discover {
  0% {
    transform: translate(-1000px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hero-btn {
  grid-column: 1/3;
  grid-row: 3/4;
  border-top: 4px solid #333333;
  border-bottom: 4px solid #333333;
  padding: 0 50px;
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}
.hero-btn a {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 20px;
  background: hsl(65, 100%, 76%);
  border: 3px solid #333333;
  box-shadow: 4px 4px 0 #333333;
  transition: all 0.3s ease-in;
}
.hero-btn a:hover {
  box-shadow: none;
  background: hsl(43, 100%, 80%);
}
.hero-btn .btn-arrow-1 {
  order: 1;
  cursor: crosshair;
  transition: all 0.3s ease-in;
}
.hero-btn .btn-projects {
  order: 2;
}
.hero-btn .btn-projects:hover ~ .btn-arrow-1 {
  rotate: -90deg;
}
.hero-btn .btn-curriculum:hover ~ .btn-arrow-1 {
  rotate: 90deg;
}
.hero-btn .btn-circle {
  position: absolute;
  top: -40px;
  right: -38px;
  z-index: 100;
  cursor: crosshair;
  animation: discover 2s cubic-bezier(0.76, -0.65, 0.03, 1.78);
}

@keyframes discover {
  0% {
    transform: translate(-1000px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hero-img {
  grid-column: 3/4;
  grid-row: 1/4;
  border-left: 4px solid #333333;
  border-bottom: 4px solid #333333;
  position: relative;
}
.hero-img .profile-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-img .img-waves {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: crosshair;
  animation: discover 2s ease-in-out;
}

@keyframes discover {
  0% {
    transform: translate(-1000px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
body {
  font-family: "Familjen Grotesk", sans-serif;
  background: #f5f5f5;
}

/* SELECTION */
::-moz-selection {
  color: hsl(65, 100%, 76%);
  background: hsl(177, 61%, 73%);
}
::selection {
  color: hsl(65, 100%, 76%);
  background: hsl(177, 61%, 73%);
}

/* SCROLLBAR */
html::-webkit-scrollbar {
  width: 2rem;
}

html::-webkit-scrollbar-track {
  background: hsl(65, 100%, 76%);
}

html::-webkit-scrollbar-thumb {
  background: hsl(177, 61%, 73%);
  box-shadow: 3px 3px 0 #333333;
  border: 3px solid #333333;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  background: #fff;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.hero {
  height: calc(100vh - 170px);
  border-left: 4px solid #333333;
  border-right: 4px solid #333333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: #fff;
}