$font-primary: "Familjen Grotesk", sans-serif;
$font-secondary: "Bebas Neue", sans-serif;

$black: #333333;
$white-body: #f5f5f5;

$nb-yellow: hsl(65, 100%, 76%);
$nb-orange: hsl(43, 100%, 80%);
$nb-pink: hsl(328, 97%, 88%);
$nb-lila: hsl(260, 100%, 88%);
$nb-blue: hsl(209, 82%, 83%);
$nb-green: hsl(177, 61%, 73%);

$border-main: 4px solid $black;
$border-btn: 3px solid $black;

$shadow-square: 4px 4px 0 $black;

$sm-block: 85px;

$gral-padding: 0 50px;
